<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{chartName}} : {{groupName}}</title>
</head>
<body>
    <script>
        let data = "{{data}}"
        data = JSON.parse(decodeURI(data))
        console.log('data:', data)
    </script>
</body>
</html>